# Virtualenv
venv/

# Python
__pycache__/
*.pyc

# YOLO / Ultralytics
runs/
output/

# Modelos treinados grandes
*.pt
!project/models/best.pt
models/sam_vit_b.pth

# Datasets e dados temporários
temp/
input_raw/
